.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, #aeb5bd 0%, #767a81 74%);
}

.footer__block {
   
}

.footer__item {
    padding: 20px;
    font-weight: 500;
    color: #ffffff; 
}